body {
    background-color: #000;
}
#calculator {
    font-size: 0;
    width: 190px;
    border: 1px solid #888;
    padding-bottom: 6px;
}

.btn {
    background-color: #EEE;
    border: 1px solid #AAA;
    color: #444;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 6px 0 0 6px;
    font-size: 15px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #DDD;
}

.btn:active {
    background-color: #FFF;
}

#result {
    border: 1px solid #AAA;
    height: 40px;
    box-sizing: border-box;
    margin: 6px 6px 0 6px;
    font-size: 14px;
    padding: 10px;
    background-color: #fff;
}
